body{
    margin: 0;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
} 
/* the main body of the card */
.first_one{
    height: 29rem;
    width: 41rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "head head head head"
        "fsec fsec ssec ssec";
    margin: 60px auto 60px auto;
}
    /* the first div of the first cell in the grid */
.first_text{
    background-color: white;
    padding-left: 45px;
    grid-area: head;
}
 /* text in the first div */
#ph1{
    color: hsl(179, 62%, 43%);
}

#ph2{
    color: hsl(71, 73%, 54%);
}
#ph3{
    white-space: pre-line;
    line-height: 1.7;
    color: hsl(218, 22%, 67%);
}
/* ------------------------------------- */

/* the sec left div in the sec row of the grid */
.left_side{
    background-color: hsl(179, 62%, 43%);
    grid-area: fsec;
    display: flex;
    justify-content: center;
}
/* ------------------------------------- */

/* the div for the price and date for the left side div in the sec row */
.small{
    display: flex;
    align-items: center;
}
/* ------------------------------------- */

#title_left_side{
    color: white;
}
/* ------------------------------------- */
#price{
    color: white;
    margin: 0;
}
/* ------------------------------------- */
#date{
    color: #cccccc;
    margin: 0 0 0 10px;
}
/* ------------------------------------- */

#left_side_text{
    color: white;
    margin: 0 0 20px 0px;
}
/* ------------------------------------- */

/* the button in the left side div in the sec row */
button{
    border-radius: 6px;
    border-color: transparent;
    width: 15rem;
    height: 3rem;
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 17px;
}
button:hover{
    cursor: pointer;
}
/* ------------------------------------- */

/* the right sided div of the sec row */
.right_side{
    background-color: hsl(179, 61%, 71%);
    grid-area: ssec;
    display: flex;
    color: white;
    background-color: #4abebd;
    justify-content: center;
    
}

ul{
    list-style-type: none;
    padding: 0px;
}
li{
    text-decoration: none;
    list-style-type: none;
    padding: 1px 0px 1px 0px;
    margin: 0;
}
/* ------------------------------------- */

 /* the footer  */
.attribution{
    text-align: center;
}
a{
    text-decoration: none;
}
#first_link{
    color: hsl(179, 62%, 43%);
}
#sec_link{
    color: #4abebd;
}
/* ------------------------------------- */
@media  screen and (max-width: 750px) {

    .first_one{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "head"
            "fsec"
            "ssec";
        height: 47rem;
        width: 22rem;
        
    }
    .first_text{
        grid-area: head;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
       
    }
    #ph3{
        white-space: unset;
    }
    .left_side{
        grid-area: fsec;
        padding-bottom: 31px;
        padding-left: 20px;
        display: block;
    }
    button{
        width: 18rem;

    }
    .right_side{
        grid-area: ssec;
        display: block;
        padding-left: 20px;
    }

}